body {
  width:90%;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    vertical-align:center;
	vertical-align:top;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

img {
  width: 175px;
}
